<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>

  <!-- Referencia para os estilos do CDN Libraries -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Referencia para os estilos do Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Referencia para os estilos de fonte do google fonts -->    
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">

    <style> 
      .fazendola-text { /* Ajuste do texto escrito na navbar */
        font-family: "Itim", cursive;
        font-weight: 400;
        font-style: normal;
        color:#ffffff;
        }

        /* Estilos do tema */
        .theme-toggle {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        .theme-toggle input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;
        }
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }
        input:checked + .slider {
            background-color: #2c2c2c;
        }
        input:checked + .slider:before {
            transform: translateX(26px);
        }
    </style>    
        
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets/FarmVille Logo sem fundo.png" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
                <span class="fazendola-text">Fazendola</span>
            </a>
            <span class="navbar-text ms-auto d-flex align-items-center">
                <i class="fa-solid fa-circle-user" style="color: #ffffff; font-size: 1.5rem; margin-right: 0.5rem;"></i>
                <span style="color: #ffffff; font-size: 1.2rem;">Fazendeiro ADMIN</span>
            </span>
        </div>
    </nav>

    <!-- Tema alternável -->
    <div class="mt-2 text-end pe-3">
        <label class="theme-toggle">
            <input type="checkbox" id="themeSwitch" onclick="toggleTheme()">
            <span class="slider"></span>
        </label>
        <span class="ms-2">Modo Claro/Escuro</span>
    </div>
    <br>


    <section class="py-4 container">
        <div class="row">
            <h3 class="fw-bold p-3">Cadastro Cliente</h3>
            <div class="border border-2 rounded p-4">
                <form class="row g-3" method="post" action="{% url 'store' %}">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label for="inputNome4" class="form-label" _msttexthash="58058" _msthash="210">Nome</label>
                        <input type="text" class="form-control" id="inputNome4" name="Nome">
                    </div>
                    <div class="col-md-1">
                        <br>
                        <input class="form-check-input" type="radio" name="Tipo" id="Tipo" value="F">
                        <label class="form-check-label" for="Tipo" _msttexthash="143416" _msthash="221"> CPF </label>
                        <br>
                        <input class="form-check-input" type="radio" name="Tipo" id="Tipo" value="J">
                        <label class="form-check-label" for="Tipo" _msttexthash="143416" _msthash="221"> CNPJ </label>
                    </div>
                    {% if Tipo == 'J' %}
                        <div class=" col-md-11">
                            <label for="inputTel2" class="form-label" _msttexthash="143598" _msthash="214">Documento</label>
                            <input maxlength="14" type="number" class="form-control" id="inputTel2" _msthash="215" name="Doc" placeholder="00.000.000/0000-00">
                        </div>
                    {% endif %}
                    <div class=" col-md-11">
                        <label for="inputTel2" class="form-label" _msttexthash="143598" _msthash="214">Documento</label>
                        <input maxlength="11" type="number" class="form-control" id="inputTel2" _msthash="215" name="Doc" placeholder="000.000.000-00">
                    </div>
                    <div class="col-md-4">
                        <label for="inputAddress" class="form-label" _msttexthash="133848"
                            _msthash="212">Endereço</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Rua Principal, 1234"
                            _mstplaceholder="126607" _msthash="213" name="Endereco">
                    </div>
                    <div class="col-md-4">
                        <label for="inputCity" class="form-label" _msttexthash="71383" _msthash="216">Cidade</label>
                        <input type="text" class="form-control" id="inputCity" name="Cidade">
                    </div>
                    <div class="col-md-4">

                        <label for="inputState" class="form-label" _msttexthash="71383" _msthash="216">Estado</label>
                        <select id="inputState" class="form-select" name="Estado" required>
                            <option selected> </option>
                        </select>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const selectEstado = document.getElementById('inputState');

                                // Função para buscar os estados
                                async function carregarEstados() {
                                    try {
                                        const response = await fetch('https://servicodados.ibge.gov.br/api/v1/localidades/estados');
                                        const estados = await response.json();

                                        // Ordena os estados por nome
                                        estados.sort((a, b) => a.nome.localeCompare(b.nome));

                                        // Preenche o select com os estados
                                        estados.forEach(estado => {
                                            const option = document.createElement('option');
                                            option.value = estado.sigla;
                                            option.textContent = estado.nome;
                                            selectEstado.appendChild(option);
                                        });
                                    } catch (error) {
                                        console.error('Erro ao carregar os estados:', error);
                                    }
                                }

                                // Chama a função para carregar os estados ao carregar a página
                                carregarEstados();
                            });
                        </script>
                    </div>
                    <div class="col-md-4">
                        <label for="inputTel2" class="form-label" _msttexthash="143598" _msthash="214">Telefone</label>
                        <input type="text" class="form-control" id="inputTel2" name="Telefone" placeholder="Telefone"
                            _mstplaceholder="597987" _msthash="215" name="Telefone">
                    </div>

                    <div class="col-md-4">
                        <label for="inputEmail" class="form-label" _msttexthash="41496" _msthash="220">Email</label>
                        <input type="text" class="form-control" id="inputEmail" name="Email"
                            placeholder="email@email.com" _mstplaceholder="597987" _msthash="215" name="Email">
                    </div>


                    <div class="col-12">

                        <button id="btnVoltar" type="button" class="btn btn-outline-light" _msttexthash="77766"
                        _msthash="222"><i class="fa-solid fa-arrow-left"></i>  Voltar</button>

                        <button type="submit" class="btn btn-outline-primary" _msttexthash="77766"
                            _msthash="222"><i class="fa-regular fa-floppy-disk"></i>  Salvar</button>

                        <script>
                            // Captura o botão pelo ID e adiciona o evento de clique
                            document.getElementById('btnVoltar').addEventListener('click', function () {
                                window.location.href = "{% url 'showClientes' %}";
                            });
                        </script>

                    </div>
                </form>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

        <script>
            // Alterna entre temas claro e escuro
            function toggleTheme() {
                document.documentElement.setAttribute(
                    'data-bs-theme',
                    document.documentElement.getAttribute('data-bs-theme') === 'dark' ? 'light' : 'dark'
                );
            }
    
            // Função para voltar à página inicial
            document.getElementById('btnVoltar').addEventListener('click', function () {
                window.location.href = "index.html";
            });
        </script>

</body>

</html>