<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fazendola</title>

  <!-- Referencia para os estilos do CDN Libraries -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Referencia para os estilos do Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <!-- Referencia para os estilos de fonte do google fonts -->    
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lacquer&family=Monoton&family=Protest+Revolution&display=swap" rel="stylesheet">
  
  

    <style> 

/* Style navbar */

/* Backgound navbar */
.navbar-custom {
    background-color: #198754; 
    color: white;
  }

  /* Fazendeiro Admin navbar */
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
    color: #000000;
    font-size: 0.7rem;
    font-family: "Protest Revolution", sans-serif;
  }

  .navbar-custom .navbar-brand img {
    filter: brightness(100%);
  }

  /* Fazendola text navbar */
  .navbar-custom .fazendola-text {
  color: #000000;
  font-size: 2.0rem;
  font-family: "Monoton", sans-serif;
}

    </style>
</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-custom">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <!-- Logo da GreenWood -->
        <span class="fazendola-text">GreenWood</span>
      </a>
      <!-- Área do usuário -->
      <span class="navbar-text ms-auto d-flex align-items-center">
          <i class="fa-solid fa-circle-user" style="font-size: 1.5rem; margin-right: 0.5rem;"></i>
          <span style="font-size: 1.2rem;">Fazendeiro Admin</span>
      </span>
  </div>
</nav>
  
  <!-- Mensagens -->
  {% if messages %}
  <div class="alert-messages">
      {% for message in messages %}
          <div class="alert alert-success" role="alert">
              {{ message }}
          </div>
      {% endfor %}
  </div>
  {% endif %}



  <section class="py-4 container">
    <div class="row">
      <div class="col-md-12">
        
  <div class="btn-group-horizontal text-center">


    <button id="btnClientes" type="button" class="btn btn-outline-success btn-lg" 
    style="width: 200px; height: 104px;">
      <p>Cliente</p>
    </button>

    <script> // Captura o botão pelo ID e adiciona o evento de clique
      document.getElementById('btnClientes').addEventListener('click', function () {
        window.location.href = "{% url 'showClientes' %}";
      });
    </script>

    <button id='btnFornecedor' type="button" class="btn btn-outline-success btn-lg"
      style="width: 200px; height: 104px;">
      <p>Fornecedor</p>
    </button>

    <script>
      // Captura o botão pelo ID e adiciona o evento de clique
      document.getElementById('btnFornecedor').addEventListener('click', function () {
        window.location.href = "{% url 'showFornecedor' %}";
      });
    </script>

    <button id='btnProduto' type="button" class="btn btn-outline-success btn-lg" 
    style="width: 200px; height: 104px;">
      <p>Produto</p>
    </button>
    
    <script>
      // Captura o botão pelo ID e adiciona o evento de clique
      document.getElementById('btnProduto').addEventListener('click', function () {
        window.location.href = "{% url 'showProdutos' %}";
      });
    </script>

    <button id='btnVenda'type="button" class="btn btn-outline-success btn-lg" 
    style="width: 200px; height: 104px;">
      <p>Venda</p>
    </button>

    <script>
      // Captura o botão pelo ID e adiciona o evento de clique
      document.getElementById('btnVenda').addEventListener('click', function () {
        window.location.href = "{% url 'Vendas' %}";
      });
    </script>
    </button>

    <a href="{% url 'Plantar' %}">
      <button type="button" class="btn btn-outline-success btn-lg" style="width: 200px; height: 104px;">
        <p>Plantar</p>
      </button>
    </a>

    <button type="button" class="btn btn-outline-success btn-lg" style="width: 200px; height: 104px;">
      <p>Relatório</p>
    </button>
  </div>
</section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <section class="py-4 container">
    <div class="row">
      <div class="col-md-12">
        <div class="border border-2 rounded p-4">
          <h3 class="text-center" style="color: #198754; font-size: 2rem;">Produção</h3>
          {% for dado in Dados%}
          <div class="col-md-12">
            <label for="inputNome4" class="form-label" _msttexthash="58058" _msthash="210">{{ dado.plan_in_idProduto }}</label>
            <div class="progress">
              <div id="progressBar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-progress="{{ dado.progress }}" >{{ dado.progress }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <script>
// Função para alternar o tema e salvar no localStorage
function toggleTheme() {
    const currentTheme = document.documentElement.getAttribute('data-bs-theme');
    const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
    document.documentElement.setAttribute('data-bs-theme', newTheme);
    localStorage.setItem('theme', newTheme);
}

// Aplica o tema salvo no localStorage ao carregar a página
document.addEventListener('DOMContentLoaded', () => {
    const savedTheme = localStorage.getItem('theme') || 'dark'; // Padrão: 'dark'
    document.documentElement.setAttribute('data-bs-theme', savedTheme);

    // Configura o estado do botão com base no tema salvo
    const themeSwitch = document.getElementById('themeSwitch');
    if (themeSwitch) {
        themeSwitch.checked = savedTheme === 'light';
        themeSwitch.addEventListener('change', toggleTheme); // Configura o evento de mudança
    }
});


      // let dtPlantio = document.querySelectorAll('[dt_plantio]');
      // let dtColheita = document.querySelectorAll('[dt_colheita]');
       const progresso = document.getElementById('progressBar').getAttribute('data-progress');
       document.getElementById('progressBar').style.width = progresso + '%';
       document.getElementById('progressBar').ariaValueNow = progresso;
    // Função para voltar à página inicial
    document.getElementById('btnVoltar').addEventListener('click', function () {
        window.location.href = "index.html";
    });
</script>

</body>

</html>